@tailwind base;
@tailwind components;
@tailwind utilities;

.a4 {
    width: 210mm;
    height: 297mm;
    padding: 1cm;
}

@media print {
    .a4 {
        font-size: 12pt;
        width: 210mm;
        height: 297mm;
        padding: 0;
    }
}


body {
    font-family: "Computer Modern Sans", sans-serif;
}

h1 {
    @apply text-5xl font-bold;
}

h2 {
    @apply text-3xl font-bold;
}

h3 {
    @apply text-xl font-bold;
}

.smallcaps {
    font-variant: small-caps;
}